header{
    background-color: rgb(0, 6, 10);
    height: 80px;
    width: 100%;
    padding: 20px;
    font-size: 22px;
    color: #08c4b4;
    
}
.logo{
    float: left;
    min-width: 250px;
    max-width: 600px;
}

.logo span{
    color: #ffffff;
    max-width: 600px;
    min-width: 250px;
    
}

.barra{
    float: right;
    min-width: 100px;
    max-width: 600px;
}

.barra ul li{
    list-style: none;
    display: inline-block;
}

.barra a{
    color: #00c2a8;
    text-decoration: none;
}

.barra a:hover{
    color: #333;
}

main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #333;
    background-image: url('../fondo/sport-1284275_1280.webp');
    background-size: cover;
    background-position: left;
    
    
}
.call{
   
    color: #fff;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid rgb(0, 0, 0);
    float: left;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
   
}



h1{
    color: rgb(1, 180, 150);
    margin-bottom: 20px;
}
.call p{
    margin-bottom: 20px;
}
.call a{
    background-color: rgb(3, 158, 124);
    color: #0c0c0c;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.call a:hover{
    background-color: #333;
}